html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}

.header {
  background-color: #ecf0f5;
  padding: 0.5em;
}

.header ul {
  display: flex;
  flex-direction: row;
  color: #2a2c2e;
  max-height: 55px;
  list-style-type: none;
  font: "helvetica";
  text-decoration: none;
  justify-content: space-between;
  padding-right: 1em;
}

.header li:first-child {
  flex: 1;
}

.header li a {
  text-decoration: none;
  padding-left: 0.5em;
  color: #6a737b;
}

.header img {
  max-height: 1em;
  align-items: left;
}

.octocats {
  display: flex;
  outline-color: blue;
}

.octocats img {
  max-width: 300px;
  max-height: 300px;
  padding: 1em;
  outline-style: double;
  outline-color: grey;
}

.octocats ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.octocats li {
  list-style-type: none;
  padding: 2em;
}

.octocats p {
  text-align: right;
  color: #6a737b;
}

.octocats p a {
  text-decoration: none;
  color: #333;
  font: helvetica, bold;
}

.header li:hover{
  background-color: black;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}
